## Í∞êÏ†ï Î∂ÑÏÑù
Ìï≠Í≥µÏÇ¨ Î¶¨Î∑∞ Îç∞Ïù¥ÌÑ∞Î°ú Í∞êÏ†ï Î∂ÑÏÑùÌïòÍ∏∞ (Ìä∏ÏúÑÌÑ∞Ïóê Îç∞Ïù¥ÌÑ∞ ÏÇ¨Ïö©)

In [3]:
import pandas as pd
import re, os
pd.set_option('display.max_colwidth', 240)

In [56]:
PATH = '../data/'
FILE = os.path.join(PATH, 'es-airlines-tweets', 'tweets_public.csv')

tweets = pd.read_csv(FILE)
tweets.sample(1)

,airline_sentiment,is_reply,reply_count,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
5741,positive,False,0,0,Aerol√≠nea Ryanair reconoce sindicatos para evitar huelgas https://t.co/eyDhhQW778,NaN,Fri Dec 15 13:51:03 +0000 2017,941666919534313473,NaN,Pacific Time (US & Canada)

In [57]:
# text Ï†ïÏ†úÎ•º ÏúÑÌï¥ÏÑú text Ïó¥Îßå Í≥®ÎùºÎÉÑ„Ñ¥
tweets = tweets.loc[:, ['text', 'airline_sentiment']]
tweets.sample(5)

,text,airline_sentiment
5733,@Iberia FAVOR COMPARTIR. QUE PASA CON IBERIA QUE COBRAN INSTANTANEAMENTE LAS VENTAS PERO CUANDO TIENEN QUE DEVOLVER‚Ä¶ https://t.co/wXZsRibIju,negative
1796,"@Iberia Hace cuatro d√≠as me dicen que proced√≠an a darme la indemnizaci√≤n y aqu√≠ sigo esper√°ndola... Desde el mes de agosto, vergonzoso.",negative
6006,@ivan_cortina @Iberia A @SupermanlopezN le da√±aron un trofeo y la bici llego d√≠as despu√©s generando descanso obliga‚Ä¶ https://t.co/MTiqubUFSa,negative
6106,"Otra cosa, Ryanair, ya me puedes sentar sola en un avi√≥n lleno de beb√©s que no pienso pagar por elegir asiento.",negative
5406,"Unas idiotas se me han colado, pero les han hecho dejar el equipaje de mano en la bodega. Ll√°malo karma, ¬°yo lo llamo Ryanair! üôãüèª‚Äç‚ôÇÔ∏è",negative

In [58]:
# @Ïû•ÏÜåÎ•º Îã§Î•∏ Ïó¥Î°ú Ï†ÄÏû•ÌïòÍ∏∞
tweets['at'] = tweets.text.str.extract(r'^(@\S+)')
tweets.sample(5)

,text,airline_sentiment,at
455,@Iberia por qu√© no puedo hacer el checking de mi vuelo IB3167? https://t.co/cauYpRzU2I,neutral,@Iberia
2253,Iberia aumentar√° sus vuelos semanales de la ruta Buenos Aires-Madrid en 2018 https://t.co/pfQQ95bOAu #NoTextAndDrive https://t.co/yu3ukqZmNK,neutral,NaN
5700,"No volver√© a viajar en IBERIA, p√©sima atenci√≥n: perdieron mi maleta y regres√≥ despu√©s de 5 meses, con 17 kilos menos https://t.co/0i4rDE9cG9",negative,NaN
1575,@Iberia sabemos si se cancela este vuelo?? Gracias! https://t.co/YTxlmAl8Dj,neutral,@Iberia
3280,El canal Smithsonian recrea en un v√≠deo el accidente de Spanair en Barajas #JK5022 https://t.co/d65ds4Muic,neutral,NaN

In [59]:
# ÌÖçÏä§Ìä∏ÏóêÏÑú hashtag, @, http Ï†úÍ±∞ÌïòÍ∏∞
def remove_handles(text):
    return re.sub(r'@\S+|https://\S+|\#', '', text) # @, hashtag, address ÏÇ≠Ï†ú

tweets.text = tweets.text.apply(remove_handles)
tweets.sample(10)

,text,airline_sentiment,at
1190,Tenerife Iberia Toscal y Bisontes Castell√≥n cierran este domingo la Jornada 11 en Segunda Divisi√≥n,neutral,NaN
6357,TipicoDeNavidad perdi√≥ mi maleta hace 5 d√≠as y no saben d√≥nde est√°. Tengo medicamentos que no estoy tomand‚Ä¶,negative,NaN
3980,Esos jeans combinaban con Alpargatas Iberia,positive,@vladyestay
1023,Bueno... puntualizar que a√∫n no tiene tantos. Un poco cascado s√≠ est√° pero no‚Ä¶,neutral,@slalanda
3476,estoy muy descontenta con su servicio y gesti√≥n de mi reserva de vuelo. Han contestado tarde a mi petici√≥n d‚Ä¶,negative,@Rumbo
1033,Qatar Airways (1¬∫) e Iberia (2¬∫) fueron nombradas como las aerol√≠neas m√°s puntuales en el √∫ltimo semestre con 91.15‚Ä¶,positive,NaN
7029,Me ha gustado un v√≠deo de ( - Ryanair passenger jumps out emergency exit in Malaga (Boeing 737)).,negative,NaN
7546,"o. deber√≠a mejorar su sistema de mailings con las reservas. Aprendan un poco de al respecto, ple‚Ä¶",negative,NaN
3150,Para‚Ä¶,positive,@Grupo_Envera_
2436,"Y confirmais c√≥mo os reis del cliente: HACEIS LLAMAR A UN N√öM DE PAGO PARA DECIR NO TE DEVUELVO NADA, felic‚Ä¶",negative,@Iberia

### Í∞êÏ†ïÎ∂ÑÏÑù
- textblob: ÏòÅÏñ¥Î∞ñÏóê ÏßÄÏõêÏù¥ Ïïà Îê®. Ïä§ÌéòÏù∏Ïñ¥->ÏòÅÏñ¥ Î≥ÄÌôò ÌõÑ ÏÇ¨Ïö©
- sentiment_analysis_spanish

In [60]:
from textblob import TextBlob

In [61]:
# es -> en Î≥ÄÌôò
def get_tweet_sentiment(tweet):
    analysis = TextBlob(tweet)
    
    language = analysis.detect_language()
    if language == 'en':
        analysis_ready = analysis
    else: # ÏòÅÏñ¥Í∞Ä ÏïÑÎãå Ïñ∏Ïñ¥Îäî ÏòÅÏñ¥Î°ú Î∞îÍøà
        analysis_ready = analysis.translate(to='en')

    if analysis_ready.sentiment.polarity > 0: # polarityÎ•º Ï∏°Ï†ïÌïòÎäî Î©îÏÜåÎìúÎ•º Í∞ÄÏßê
        return 'positive'
    elif analysis_ready.sentiment.polarity == 0: 
        return 'neutral'
    else: 
        return 'negative'

In [62]:
# ÏòàÏãú
sentence = 'I hate New York.'
blob = TextBlob(sentence)
blob.sentiment # [-1, 1]

Sentiment(polarity=-0.33181818181818185, subjectivity=0.6772727272727272)

In [63]:
# ÎûúÎç§ÏúºÎ°ú Ìïú Î¨∏Ïû• ÎΩëÍ∏∞
sentence = tweets.text.sample(1).tolist()
sentence

['Iberia recibe un nuevo avi√≥n A330-200 y lo bautiza como ‚ÄúSanto Domingo‚Äù  ']

In [64]:
get_tweet_sentiment(sentence[0])

'positive'

#### sentiment_analysis_spanish
0~1Î°ú ÌëúÌòÑ. neg-pos

In [65]:
from sentiment_analysis_spanish import sentiment_analysis

In [66]:
#test
senti_analizer = sentiment_analysis.SentimentAnalysisSpanish()
print(senti_analizer.sentiment("Me gusta la tombola. Es genial.")) # positive

0.9304396176531412

In [67]:
tweets['polarity'] = tweets.text.apply(senti_analizer.sentiment)
tweets.head(3)

,text,airline_sentiment,at,polarity
0,Trabajar en Ryanair como TMA: empleo,neutral,NaN,0.230391
1,Cuando gusten en Canc√∫n se viaja y disfruta de manera sin igual,neutral,@Iberia,0.025044
2,"Sabiais que te trata muy bien en santiago de chile?Te cambia el asiento,te manda a volar en el wc trasero,e‚Ä¶",negative,NaN,0.350941

In [68]:
# sorting
tweets.sort_values(by=['polarity'], ascending=False).head(10)

,text,airline_sentiment,at,polarity
3216,Vistas que no tenemos todos los d√≠as. Un A330 de Iberia en aproximaci√≥n por el centro de Madrid,neutral,NaN,1.000000
1536,Iberia tendr√° nuevas conexiones en 2018 desde el aeropuerto de Madrid hacia Managua y San Francisco‚Ä¶,positive,NaN,1.000000
5240,La aerol√≠nea tendr√° nuevas conexiones en 2018 desde el aeropuerto de Madrid hacia Managua y SanFrancisco,positive,NaN,1.000000
92,La aerol√≠nea tendr√° nuevas conexiones en 2018 desde el aeropuerto de Madrid hacia Managua y SanFrancisco,neutral,NaN,1.000000
6808,Samsung e Iberia sorprenden a los viajeros de un vuelo de Madrid a La Coru√±a con un ¬´regalazo¬ª v√≠a,positive,NaN,1.000000
3403,Samsung e Iberia sorprenden a los viajeros de un vuelo de Madrid a La Coru√±a con un ¬´regalazo¬ª v√≠a,positive,NaN,1.000000
2909,muchas gracias al personal de Business en aeropuerto de Madrid.La ayuda en situaci√≥n complicada muestra su gran profesionalidad,positive,@Iberia,1.000000
5208,Iberia remodela su zona VIP del aeropuerto de Madrid con muchas comodidades:,positive,NaN,0.999999
7001,"Un muy buen destino, me encant√≥ üëãüëãüëã",positive,@AParayas,0.999998
4468,Iberia inaugura un nuevo espacio Premium en el aeropuerto de Madrid,neutral,NaN,0.999998

In [52]:
#option 1. polarity Ï†êÏàò Íµ¨Í∞ÑÏóê Îî∞Îùº Î†àÏù¥Î∏îÏùÑ positive, negativeÎ°ú ÎÇòÎàÑÍ∏∞ (2Í∞ÄÏßÄ)

tweets['label'] = tweets.polarity.apply(lambda x: 'positive' if x >= 0.5 else 'negative')
tweets.head(5)

,text,at,polarity,label
0,Trabajar en Ryanair como TMA: empleo,NaN,0.230391,negative
1,Cuando gusten en Canc√∫n se viaja y disfruta de manera sin igual,@Iberia,0.025044,negative
2,"Sabiais que te trata muy bien en santiago de chile?Te cambia el asiento,te manda a volar en el wc trasero,e‚Ä¶",NaN,0.350941,negative
3,"NUNCA NUNCA NUNCA pid√°is el caf√© de Ryanair.\nBueno, nada que vendan a bordo.",NaN,0.000305,negative
4,Muchos √©xito‚Ä¶,@cris_tortu,0.555005,positive

In [73]:
#option 2. airline_sentimentÏóê Îî∞Îùº ÎÇòÎàÑÍ∏∞ (3Í∞ÄÏßÄ)

def tag_label(sentiment):
    sentiment = sentiment.lower()
    
    if sentiment == 'neutral':
        return 0
    elif sentiment == 'positive':
        return 1
    else:
        return 2
        
tweets['label'] = tweets.airline_sentiment.apply(tag_label)
tweets.head(5)

,text,airline_sentiment,at,polarity,label
0,Trabajar en Ryanair como TMA: empleo,neutral,NaN,0.230391,0
1,Cuando gusten en Canc√∫n se viaja y disfruta de manera sin igual,neutral,@Iberia,0.025044,0
2,"Sabiais que te trata muy bien en santiago de chile?Te cambia el asiento,te manda a volar en el wc trasero,e‚Ä¶",negative,NaN,0.350941,2
3,"NUNCA NUNCA NUNCA pid√°is el caf√© de Ryanair.\nBueno, nada que vendan a bordo.",negative,NaN,0.000305,2
4,Muchos √©xito‚Ä¶,positive,@cris_tortu,0.555005,1

In [74]:
tweets.label.value_counts() # Ï£ºÎ°ú Î∂ÄÏ†ïÏ†ÅÏù∏ Îç∞Ïù¥ÌÑ∞Í∞Ä ÎßéÏùå.

2    3769
0    2609
1    1489
Name: airline_sentiment, dtype: int64

In [75]:
# ÌååÏùºÎ°ú Ï†ÄÏû•
out_file = os.path.join(PATH, 'OUT', 'tweets_public_polarity.csv')
tweets.to_csv(out_file, sep='\t', encoding='utf-8')